[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
pydantic = "*"
pwdlib = {extras = ["argon2"], version = "*"}
python-multipart = "*"
pydantic-settings = "*"
pyjwt = "*"
openpyxl = "*"

[dev-packages]
pytest = "*"
httpx = "*"
ruff = "*"

[requires]
python_version = "3.13"
